/* Colors and fonts */
body {
	color: Black;
	font-family: twentieth century;
	background: linear-gradient(to bottom,rgb(7 7 7), rgb(255 255 255));
	margin: 20px 100px;

}

h1 {
	color: rgb(30, 30, 30)
	font-family: impact;
	font-weight: 100;
	letter-spacing: 6px;
	font-size: 50px;
	text-transform: uppercase;
}

p  {
  line-height: 2;

}

h2 {
  color: #a23838;
  font-family: courier,monospace;
  font-size: 38px;
}

div {

}

/* Custom design with class */

.card-dimgrey{
	background-color:#ffffff;
    padding: 80px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    margin: 20px 100px;
    text-align: center;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1)
}

.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../image/students的副本.png);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}


.banner h1 {
	font-size: 50px;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	capacity: 0.8;
	margin-bottom: 20px;
}


.container {
	width: 700px;
	margin: 80px auto;
}

@media (max-width: 960px) {
	/*For a screen <960px, this CSS will be read */
	.container {
		width: 500px;
	}
}
@media (max-width: 540px) {
	/* For a screen < 540px, this CSS will be read */
	.container {
		width: 300px;
	}
}

@media (max-width: 540px) {
	/* For a screen < 540px, this CSS will be read */
	.container{
		width: 350px;
	}
}

.btn-blue{
	background-color: #6D71DD;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}








